    /* default: mobile */
    .grid {
        width  : 100%;
        display: block;
        padding: 0;
    }

    .grid.wide {
        max-width: 1200px;
        margin   : 0 auto;
    }

    .row {
        display     : flex;
        flex-wrap   : wrap;
        margin-left : -4px;
        margin-right: -4px;
    }

    .row.no-gutter {
        margin-left : 0;
        margin-right: 0;
    }

    .col {
        padding-left : 4px;
        padding-right: 4px;
    }

    .row.no-gutter col {
        padding-left : 0;
        padding-right: 0;
    }

    .c-0 {
        display: none;
    }

    .c-1 {
        flex     : 0 0 calc(100% / 12);
        max-width: calc(100% / 12);
    }

    .c-2 {
        flex     : 0 0 calc(100% / 6);
        max-width: calc(100% / 6);
    }

    .c-3 {
        flex     : 0 0 calc(100% / 4);
        max-width: calc(100% / 4);
    }

    .c-4 {
        flex     : 0 0 calc(100% / 3);
        max-width: calc(100% / 3);
    }

    .c-5 {
        flex     : 0 0 calc(100% * 5 / 12);
        max-width: calc(100% * 5 / 12);
    }

    .c-6 {
        flex     : 0 0 calc(100% / 2);
        max-width: calc(100% / 2);
    }

    .c-7 {
        flex     : 0 0 calc(100% * 7 / 12);
        max-width: calc(100% * 7 / 12);
    }

    .c-8 {
        flex     : 0 0 calc(100% * 2 / 3);
        max-width: calc(100% * 2 / 3);
    }

    .c-9 {
        flex     : 0 0 calc(100% * 3 / 4);
        max-width: calc(100% * 3 / 4);
    }

    .c-10 {
        flex     : 0 0 calc(100% * 5 / 6);
        max-width: calc(100% * 5 / 6);
    }

    .c-11 {
        flex     : 0 0 calc(100% * 11 / 12);
        max-width: calc(100% * 11 / 12);
    }

    .c-12 {
        flex     : 0 0 100%;
        max-width: 100%;
    }

    /* offset width */
    .c-o-1 {
        margin-left: calc(100% / 12);
    }

    .c-o-2 {
        margin-left: calc(100% / 6);
    }

    .c-o-3 {
        margin-left: calc(100% / 4);
    }

    .c-o-4 {
        margin-left: calc(100% / 3);
    }

    .c-o-5 {
        margin-left: calc(100% * 5 / 12);
    }

    .c-o-6 {
        margin-left: calc(100% / 2);
    }

    .c-o-7 {
        margin-left: calc(100% * 7 / 12);
    }

    .c-o-8 {
        margin-left: calc(100% * 2 / 3);
    }

    .c-o-9 {
        margin-left: calc(100% * 3 / 4);
    }

    .c-o-10 {
        margin-left: calc(100% * 5 / 6);
    }

    .c-o-11 {
        margin-left: calc(100% * 11 / 12);
    }

    /* wide for tablet & low resolution pc*/
    @media (min-width: 740px) and (max-width: 1023px) {
        .wide {
            width: 644px;
        }
    }

    /* tablet */
    @media (min-width: 740px) and (max-width: 1023px) {
        .row {
            margin-left : -8px;
            margin-right: -8px;
        }

        .col {
            padding-left : 8px;
            padding-right: 8px;
        }

        .row.sm-gutter {
            margin-left : -5px;
            margin-right: -5px;
        }

        .row.sm-gutter .col {
            padding-left : 5px;
            padding-right: 5px;
        }

        .m-1,
        .m-2,
        .m-3,
        .m-4,
        .m-5,
        .m-6,
        .m-7,
        .m-8,
        .m-9,
        .m-10,
        .m-11,
        .m-12 {
            display: block;
        }

        .m-0 {
            display: none;
        }

        .m-1 {
            flex     : 0 0 calc(100% / 12);
            max-width: calc(100% / 12);
        }

        .m-2 {
            flex     : 0 0 calc(100% / 6);
            max-width: calc(100% / 6);
        }

        .m-3 {
            flex     : 0 0 calc(100% / 4);
            max-width: calc(100% / 4);
        }

        .m-4 {
            flex     : 0 0 calc(100% / 3);
            max-width: calc(100% / 3);
        }

        .m-5 {
            flex     : 0 0 calc(100% * 5 / 12);
            max-width: calc(100% * 5 / 12);
        }

        .m-6 {
            flex     : 0 0 calc(100% / 2);
            max-width: calc(100% / 2);
        }

        .m-7 {
            flex     : 0 0 calc(100% * 7 / 12);
            max-width: calc(100% * 7 / 12);
        }

        .m-8 {
            flex     : 0 0 calc(100% * 2 / 3);
            max-width: calc(100% * 2 / 3);
        }

        .m-9 {
            flex     : 0 0 calc(100% * 3 / 4);
            max-width: calc(100% * 3 / 4);
        }

        .m-10 {
            flex     : 0 0 calc(100% * 5 / 6);
            max-width: calc(100% * 5 / 6);
        }

        .m-11 {
            flex     : 0 0 calc(100% * 11 / 12);
            max-width: calc(100% * 11 / 12);
        }

        .m-12 {
            flex     : 0 0 100%;
            max-width: 100%;
        }

        .m-o-1 {
            margin-left: calc(100% / 12);
        }

        .m-o-2 {
            margin-left: calc(100% / 6);
        }

        .m-o-3 {
            margin-left: calc(100% / 4);
        }

        .m-o-4 {
            margin-left: calc(100% / 3);
        }

        .m-o-5 {
            margin-left: calc(100% * 5 / 12);
        }

        .m-o-6 {
            margin-left: calc(100% / 2);
        }

        .m-o-7 {
            margin-left: calc(100% * 7 / 12);
        }

        .m-o-8 {
            margin-left: calc(100% * 2 / 3);
        }

        .m-o-9 {
            margin-left: calc(100% * 3 / 4);
        }

        .m-o-10 {
            margin-left: calc(100% * 5 / 6);
        }

        .m-o-11 {
            margin-left: calc(100% * 11 / 12);
        }
    }

    /* high resolution Pc */
    @media (min-width: 1024px) {
        .row {
            margin-left : -12px;
            margin-right: -12px;
        }

        .row.sm-gutter {
            margin-left : -5px;
            margin-right: -5px;
        }

        .col {
            padding-left : 12px;
            padding-right: 12px;
        }

        .row.sm-gutter .col {
            padding-left : 5px;
            padding-right: 5px;
        }

        .l-1,
        .l-2,
        .l-2-4,
        .l-3,
        .l-4,
        .l-5,
        .l-6,
        .l-7,
        .l-8,
        .l-9,
        .l-10,
        .l-11,
        .l-12 {
            display: block;
        }

        .l-0 {
            display: none;
        }

        .l-1 {
            flex     : 0 0 calc(100% / 12);
            max-width: calc(100% / 12);
        }

        .l-2 {
            flex     : 0 0 calc(100% / 6);
            max-width: calc(100% / 6);
        }

        .l-3 {
            flex     : 0 0 calc(100% / 4);
            max-width: calc(100% / 4);
        }

        .l-4 {
            flex     : 0 0 calc(100% / 3);
            max-width: calc(100% / 3);
        }

        .l-5 {
            flex     : 0 0 calc(100% * 5 / 12);
            max-width: calc(100% * 5 / 12);
        }

        .l-6 {
            flex     : 0 0 calc(100% / 2);
            max-width: calc(100% / 2);
        }

        .l-7 {
            flex     : 0 0 calc(100% * 7 / 12);
            max-width: calc(100% * 7 / 12);
        }

        .l-8 {
            flex     : 0 0 calc(100% * 2 / 3);
            max-width: calc(100% * 2 / 3);
        }

        .l-9 {
            flex     : 0 0 calc(100% * 3 / 4);
            max-width: calc(100% * 3 / 4);
        }

        .l-10 {
            flex     : 0 0 calc(100% * 5 / 6);
            max-width: calc(100% * 5 / 6);
        }

        .l-11 {
            flex     : 0 0 calc(100% * 11 / 12);
            max-width: calc(100% * 11 / 12);
        }

        .l-12 {
            flex     : 0 0 100%;
            max-width: 100%;
        }

        .l-10-2 {
            flex     : 0 0 20%;
            max-width: 20%;
        }

        .l-o-1 {
            margin-left: calc(100% / 12);
        }

        .l-o-2 {
            margin-left: calc(100% / 6);
        }

        .l-o-3 {
            margin-left: calc(100% / 4);
        }

        .l-o-4 {
            margin-left: calc(100% / 3);
        }

        .l-o-5 {
            margin-left: calc(100% * 5 / 12);
        }

        .l-o-6 {
            margin-left: calc(100% / 2);
        }

        .l-o-7 {
            margin-left: calc(100% * 7 / 12);
        }

        .l-o-8 {
            margin-left: calc(100% * 2 / 3);
        }

        .l-o-9 {
            margin-left: calc(100% * 3 / 4);
        }

        .l-o-10 {
            margin-left: calc(100% * 5 / 6);
        }

        .l-o-11 {
            margin-left: calc(100% * 11 / 12);
        }
    }